<app-loading *ngIf="isLoading"></app-loading>
<div class="row m-5">
  <div class="col">
    <div *ngIf="hasError" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>{{ error.name }}</strong> {{ error.error.error.message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="card-columns">
    <app-artist-card [item]="album" *ngFor="let album of albums"></app-artist-card>
  </div>
</div>

